.Input {

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;

    &--sm {
        width: 50%;
    }
    label {
        display: block;
        font-weight: 300;
        font-size: 0.8rem;
        color: #A5AEB5;
    }

    input {
        background-color: #F2F7FA;
        border-radius: 5px;
        display: block;
        width: 100%;
        min-height: 20px;
        padding: 10px 15px;
        outline: none;
        &:focus {
            box-shadow: 0px 0px 0px 3px #0C99E8;
        }
    }
    &--file {
        justify-content: center;
        input {
            display: none;
        }
        label {
            font-weight: 700;
            cursor: pointer;
            color: #0C99E8;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}