@import "vars";

.btn, 
button.btn,
a.btn {
    cursor: pointer;
    outline: none;
    padding: 20px 30px;
    border-radius: 8px;
    font-weight: 900;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.btn.btn {
    &--lg {
        min-width: 300px;
    }
    &--gradient {
        color: white;
        background-image: $gradient;
        box-shadow: 0px 0px 10px 2px #eb8797;

        &:hover {
            background-image: $gradient-hov;
        }
        &:active {
            box-shadow: inset 0px 0px 10px 2px #eb8797;
            transform: translateY(2px);
        }
    }
}