$primary-color: #30385E;
$secondary-color: #C0D6E7;
$active-color: #AF5D9D;

$gradient: linear-gradient(to right, #FF3356 0%, #966AB3 100%);
$gradient-hov: linear-gradient(to right, #fd4665 0%, #a278be 100%);